<div class="container mt-4">
    <h2>Books Add</h2>
    <a routerLink="/faculty/books" class="btn btn-primary mb-3">Back</a>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>John Doe</td>
                <td>johndoeexample.com</td>
                <td>Admin</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Jane Smith</td>
                <td>janesmithm</td>
                <td>Editor</td>
            </tr>
        </tbody>
    </table>
</div>