.search-container {
    margin: auto;
  }
  
  input {
    margin: 5px;
    padding: 8px;
    width: 200px;
  }
  
  button {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #007bff;
    color: white;
  }
  .pagination {
    margin-top: 20px;
  }
  
  .page-item.active .page-link {
    background-color: blue;
    color: white;
    border-radius: 5px;
  }
  
  