<div class="container mt-4">
  <h2>Books</h2>
  <a routerLink="/faculty/books-add" class="btn btn-primary mb-3">Add Book</a>

  <!-- Table to display book details -->
  <div class="table-responsive"> 
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>Genre</th>
        <th>ISBN</th>
        <th>Year Published</th>
        <th>Copies Available</th>
        <th>Book Shelf Number</th>
        <th>Branch Name</th>
        <th>Picture</th>
        <th>Actions</th>
        <th>Delete</th> 
      </tr>
    </thead>
    <tbody>
      <!-- Loop through books list -->
      <tr *ngFor="let book of books$ | async; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.publisher }}</td>
        <td>{{ book.genre }}</td>
        <td>{{ book.isbn }}</td>
        <td>{{ book.yearPublished }}</td>
        <td>{{ book.copiesAvailable }}</td>
        <td>{{ book.bookShelfNumber }}</td>
        <td>{{ book.branchName }}</td>
        <td>
       
          <img *ngIf="book.picture" [src]="imageUrl+book.picture" alt="{{ book.title }}" style="width: 50px; height: auto;"></td>
          <td>
          <a [routerLink]="['/faculty/update-book', book.id]" class="btn btn-warning">Edit</a>

        </td>
        <td>
        
          <button (click)="DeleteBook(book.id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

</div>
